#main {
    background: linear-gradient(180deg, #203580, #443E73, #443A66, #27284F, #171E44 );
}

.search {
    transform: translateY(-50%);
}

/* .main-wrapper {
    border: 1px solid black;
} */

@media only screen and (max-width: 650px) {
    #date-tab-wrapper {
        width: 200%;
    }
    #time-btns-wrapper {
        width: 170%;
    }
}